@media screen and (max-width:1000px) {
    .navigation{
        flex-direction: column;
        margin-bottom: 28px;
    }

.nav-left{
    flex-direction: column;
    text-align: center;
}
.content-right{
display: none;
}
.home-article{
    flex-direction: column;
}
.home-article-img{
text-align: center;
}
.year-box{
    font-size: 10px;
    display: flex;
    top: 25px;
    left: 60vw;
}
.year-box div{
    padding: 0 3px;
    margin: 0;
}
.row{
    flex-direction: column;
}
.post-img{
    height: auto;
}
}
.contact-content {
height:auto;
}